*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./aditya-chinchure-ZhQCZjr9fHo-unsplash.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

 
.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .17s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.5);
    
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #f5c410da;
    box-shadow: 0 0 1rem #f5c410da;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #e6c345;
  }